header {
  display: block;
  background: $primary-color;

  padding: 150px 0 75px 0;

  h1,
  h2 {
    color: white;
    text-align: center;
    margin: 0;

    @include span(4);
  }

  h1 {
    position: relative;

    em {
      position: absolute;
      margin: 10px 0 0 5px;
      font-weight: 300;
      font-size: 16px;
      font-style: normal;
      color: rgba(white, 0.5);
    }
  }
}

.phone {
  display: block;
  color: white;
  float: right;
  margin-top: -250px;
  @include span(last 4);

  .image {
    width: 300px;
    height: 600px;
    margin: 0 auto;
    background: transparent url('../images/nexus.svg') no-repeat center center;
  }

  .video {
    position: relative;
    width: 270px;
    height: 480px;
    background: white;
    margin: -535px auto 0 auto;

    video {
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.signup {
  @include span(4);
  text-align: center;

  ul {
    margin: 50px 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: $gray-light;
    font-size: 20px;
    line-height: 1.5em;
    text-transform: lowercase;
  }

  a {
    display: inline-block;
    padding: 12px 40px 12px 24px;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    background: $primary-color;
    color: white;
    position: relative;

    &:before, &:after {
      content: " ";
      position: absolute;
      display: block;
      top: 50%;
    }

    &:before {
      right: -20px;
      margin-top: -20px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: white;

      box-shadow: 0 0 10px 0 $gray-light;
    }

    &:after {
      right: -6px;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border: solid 4px $gray-light;
      border-left: transparent;
      border-bottom: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}