$black: black;
$white: white;

$purple: #582E66;
$red: #C35466;

$gray-xxlight: rgba(black, 0.2);
$gray-xlight: rgba(black, 0.3);
$gray-light: rgba(black, 0.4);
$gray: rgba(black, 0.5);
$gray-dark: rgba(black, 0.7);


$primary-color: $red;